<%- include("../partials/header") %>

<div class="container" id="create_couch">

			<h1 style="text-align: center; font-family: 'Amatic SC'; font-weight: 5px; font-size: 60px;">
			<i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL"></i>
			Edit your Comment/Review</h1>
				<div class="form-group" style="width: 100%; margin: 0; auto;">
				<form action="/couches/<%= couch_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
					<div class="form-group">
						<div class="input-group-append">
							<span class="input-group-text"><i class=""></i></span>
							<!-- <input class="form-control" type="text" name="description" placeholder="description"> -->
							<textarea class="form-control"  type="text" name="comment[text]" placeholder="leave a review" style="height: 300px;"><%= comment.text %></textarea>
						</div>
					</div>
					
				<div class="form-group">
					<button class="btn btn-success">Save</button>
					<a href="/couches" style="float: right; color: #33a427;">Back</a>
				</div>
						

				</form>
			</div>
</div>


<%- include("../partials/footer") %>